@page "/item-list"
@inject IUserService GoodService
<h3>ItemList</h3>
@foreach (var good in goods)
{
	<h3>User: @good.Login1</h3>
	<p>Role: @good.Role1</p>
}
@code {
	private List<User> goods = new List<User>();

	protected override async Task OnInitializedAsync()
	{
		goods = await GoodService.GetAll();
	}
}
